<html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <script src="./js/jquery.js" type="text/javascript"></script>
    <script src="./js/jquery.jscroll.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.core.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.tooltips.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.dynamic.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.effects.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.resizing.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.common.key.js" ></script>
    <script src="./js/rgraph/RGraph.bar.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.line.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.pie.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.scatter.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.drawing.rect.js" type="text/javascript"></script>
    <script src="./js/rgraph/RGraph.drawing.image.js" type="text/javascript"></script>

    <script type="text/javascript">
        // Colors from http://www.wowwiki.com/Class_colors
        var CLASS_COLORS = {
            'DEATHKNIGHT':  '#C41F3B',
            'DRUID':        '#FF7D0A',
            'HUNTER':       '#ABD473',
            'MAGE':         '#69CCF0',
            'MONK':         '#558A84',
            'PALADIN':      '#F58CBA',
            'PRIEST':       '#FFFFFF',
            'ROGUE':        '#FFF569',
            'SHAMAN':       '#0070DE',
            'WARLOCK':      '#9482C9',
            'WARRIOR':      '#C79C6E',
        };

        var DEFAULT_COLOR = '#808080';

        var entries = $ENTRIES$;
        var timestamps = $TIMETAMPS$;
        var character_names = $CHARACTER_NAMES$;
        var characters_to_ignore = $CHARACTERS_TO_IGNORE$;
        var characters_colors = $CHARACTERS_COLORS$;

        var ilevel_progression_minimum = $ILEVEL_PROGRESSION_MINIMUM$;
        var ilevel_progression_maximum = $ILEVEL_PROGRESSION_MAXIMUM$;

        var start_index = 0;


        function getColor(name, equipment_set)
        {
            if ((equipment_set !== undefined) && (characters_colors[name + '/' + equipment_set] !== undefined))
                return characters_colors[name + '/' + equipment_set];
            else if (characters_colors[name] !== undefined)
                return characters_colors[name];
            else if (CLASS_COLORS[entries[name].class] !== undefined)
                return CLASS_COLORS[entries[name].class];

            return DEFAULT_COLOR;
        }


        function getScaleFactor(value)
        {
            var exponent = Math.floor(Math.log(value) / Math.log(10));
            return Math.pow(10, exponent);
        }


        function createRowLegend(character_name)
        {
            var row = document.createElement('tr');

            var color_cell = document.createElement('td');
            color_cell.innerHTML = '&nbsp;'
            color_cell.style.width = '25px';
            color_cell.style.backgroundColor = getColor(character_name);
            color_cell.style.borderWidth = '1px';
            color_cell.style.borderColor = 'black';
            color_cell.style.borderStyle = 'solid';
            row.appendChild(color_cell);

            var name_cell = document.createElement('td');
            name_cell.textContent = character_name;
            row.appendChild(name_cell);

            return row;
        }


        //--------------------------------------------------------------------------------
        // Iterate through all the sessions of each (enabled) characters and invoke
        // callbacks with the data found in the sessions
        //
        // Parameters:
        //     storage: User-provided map provided to each callback
        //     limit:   The number of sessions to iterate (always the most recent ones).
        //              If 'undefined', will iterate through all the sessions
        //     callbacks: A list of functions to call during the iterations
        //
        // The 'storage' object:
        //     The function will add the following fields to the 'storage' object:
        //        - timestamps: a list of the timestamps of the sessions
        //        - characters: a list of the names of the enabled characters
        //
        //     The callback functions are free to add any field they need to do their job.
        //
        // The callback functions:
        //     - onIterationStarted(storage):
        //              Called when the lists of timestamps and character names are ready
        //     - onCharacterStarted(storage, character_index):
        //              Called when the iteration over the sessions of a specific
        //              character begins
        //     - onData(storage, character_index, timestamp_index, values, previous_values):
        //              Called for each session of the character, with 'values' being the
        //              data of this character at the specified timestamp (can be null)
        //              and 'previous_values' the last known values for this character
        //              (can be null)
        //--------------------------------------------------------------------------------
        function iterateSessions(storage, limit, callbacks)
        {
            // Parameters handling
            if (limit === undefined)
                limit = timestamps.length;

            var offset = Math.max(timestamps.length - limit - 1, 1);

            // Store the timestamps of the concerned period
            storage.timestamps = timestamps.slice(offset);

            // Search the list of enabled characters and their last values before the period
            var last_values = new Array();
            var current_character = 0;
            storage.characters = new Array();
            for (var i = 0; i < character_names.length; ++i)
            {
                if (characters_to_ignore.indexOf(character_names[i]) !== -1)
                    continue;

                storage.characters[current_character] = character_names[i];

                last_values[current_character] = null;

                for (var j = offset - 1; j >= 0; --j)
                {
                    if (entries[character_names[i]].sessions[timestamps[j]] !== undefined)
                    {
                        last_values[current_character] = entries[character_names[i]].sessions[timestamps[j]];
                        break;
                    }
                }

                ++current_character;
            }

            callbacks.onIterationStarted(storage);

            // Iterate through the sessions
            for (var current_character = 0; current_character < storage.characters.length; ++current_character)
            {
                callbacks.onCharacterStarted(storage, current_character);

                var previous_values = last_values[current_character];

                for (var j = 0; j < storage.timestamps.length; ++j)
                {
                    var timestamp = storage.timestamps[j];

                    if (entries[storage.characters[current_character]].sessions[timestamp] !== undefined)
                    {
                        callbacks.onData(storage, current_character, j, entries[storage.characters[current_character]].sessions[timestamp], previous_values);
                        previous_values = entries[storage.characters[current_character]].sessions[timestamp];
                    }
                    else
                    {
                        callbacks.onData(storage, current_character, j, null, previous_values);
                    }
                }
            }
        }


        function getDateLabels(timestamps)
        {
            var current_year = null;
            var current_month = null;
            var labels = new Array();

            for (var j = 0; j < timestamps.length; ++j)
            {
                var date = new Date(timestamps[j] * 1000);

                labels[j] = '';

                if (timestamps.length < 31)
                    labels[j] = labels[j] + date.getUTCDate();

                if (current_month != date.getUTCMonth())
                {
                    if (labels[j].length > 0)
                        labels[j] = labels[j] + '/';

                    labels[j] = labels[j] + (date.getUTCMonth() + 1);
                    current_month = date.getUTCMonth();
                }

                if (current_year != date.getUTCFullYear())
                {
                    if (labels[j].length > 0)
                        labels[j] = labels[j] + '/';

                    labels[j] = labels[j] + date.getUTCFullYear();
                    current_year = date.getUTCFullYear();
                }
            }

            return labels;
        }


        function getLimitsOfCumulatedRows(values, default_max_value, default_min_value)
        {
            var max_value = undefined;
            var min_value = undefined;
            var sum = 0;

            if (default_max_value !== undefined)
                max_value = default_max_value;

            if (default_min_value !== undefined)
                min_value = default_min_value;

            for (var j = 0; j < values.length; ++j)
            {
                if (values[j] === null)
                    continue;

                var total = 0;

                if (values[j] instanceof Array)
                    total = getLimitsOfCumulatedRows(values[j], default_max_value, default_min_value).sum;
                else
                    total = values[j];

                if (max_value !== undefined)
                    max_value = Math.max(max_value, total);
                else
                    max_value = total;

                if (min_value !== undefined)
                    min_value = Math.min(min_value, total);
                else
                    min_value = total;

                sum += total;
            }

            return { max: max_value, min: min_value, sum: sum };
        }


        function flatten(values)
        {
            var result = new Array();
            for (var j = 0; j < values.length; ++j)
            {
                for (var i = 0; i < values[j].length; ++i)
                    result[j * values[j].length + i] = values[j][i];
            }

            return result;
        }


        function moneyAsHtml(gold)
        {
            var money_po = Math.floor(gold);
            var money_pa = Math.floor((gold * 100) % 100);
            var money_pc = Math.floor((gold * 10000) % 100);

            return '<span style="color: #FF9933">' + money_po + ' po</span> <span style="color: #777777">' +
                   money_pa + ' pa</span> <span style="color: #CC6600">' + money_pc + ' pc</span>';
        }


        function drawPerCharacterPlayTime()
        {
            // Prepare the data for the bar chart
            var storage = {
                data:             new Array(),
                colors:           new Array(),
                tooltips_stacked: new Array(),
            };

            iterateSessions(storage, 15, {
                onIterationStarted: function(storage) {
                        for (var i = 0; i < storage.timestamps.length; ++i)
                        {
                            storage.data[i]             = new Array();
                            storage.tooltips_stacked[i] = new Array();
                        }
                    },

                onCharacterStarted: function(storage, character_index) {
                        storage.colors[character_index] = getColor(storage.characters[character_index]);
                    },

                onData: function(storage, character_index, timestamp_index, values, previous_values) {
                        if ((values === null) || (previous_values === null))
                        {
                            storage.data[timestamp_index][character_index] = 0;
                            storage.tooltips_stacked[timestamp_index][character_index] = '';
                        }
                        else
                        {
                            var duration = values.played - previous_values.played;

                            storage.data[timestamp_index][character_index] = duration / 3600.0;

                            var seconds = duration % 60;
                            var minutes = ((duration - seconds) / 60) % 60;
                            var hours = (duration - minutes * 60 - seconds) / 3600;

                            var text = storage.characters[character_index] + ' (';

                            if (hours < 10)
                                text += '0';
                            text += hours + ':';

                            if (minutes < 10)
                                text += '0';
                            text += minutes + ':';

                            if (seconds < 10)
                                text += '0';
                            text += seconds + ')';

                            storage.tooltips_stacked[timestamp_index][character_index] = text;
                        }
                    },
                }
            );

            // Display the period covered by the graph
            var date_start = new Date(storage.timestamps[0] * 1000);
            var date_end = new Date(storage.timestamps[storage.timestamps.length - 1] * 1000);

            $('#graph_character_played_title').text(date_start.toLocaleDateString() + ' - ' + date_end.toLocaleDateString());

            // Compute the maximum value of the y-axis and the labels
            var labels = getDateLabels(storage.timestamps);
            var max_value = Math.ceil(getLimitsOfCumulatedRows(storage.data, 1).max);

            // Create the bar chart
            var gutterLeft = 50;

            var bar = new RGraph.Bar('graph_character_played', storage.data);
            bar.Set('chart.labels', labels);
            bar.Set('chart.labels.colors', ['black']);
            bar.Set('chart.tooltips', flatten(storage.tooltips_stacked));
            bar.Set('chart.gutter.left', gutterLeft);
            bar.Set('chart.background.barcolor1', 'white');
            bar.Set('chart.background.barcolor2', 'white');
            bar.Set('chart.background.grid', true);
            bar.Set('chart.colors', storage.colors);
            bar.Set('chart.grouping', 'stacked');
            bar.Set('chart.hmargin', 10);
            bar.Set('chart.strokestyle', '#000000');
            bar.Set('chart.ymax', max_value);
            bar.Set('chart.variant', '3d');
            bar.Set('chart.background.grid.autofit.numhlines', max_value);
            bar.Set('chart.background.grid.autofit.numvlines', storage.timestamps.length );
            bar.Set('chart.noyaxis', true);
            bar.Set('chart.ylabels', false);

            // Draws the extra axe. It's run whenever the bar object is drawn
            RGraph.AddCustomEventListener(bar, 'ondraw', function ()
                {
                    RGraph.DrawAxes(bar, {
                                          'axis.x': gutterLeft,
                                          'axis.color': 'black',
                                          'axis.text.color': 'black',
                                          'axis.max': max_value,
                                          'axis.numlabels': max_value,
                                          'axis.numticks': max_value * 2,
                                          'axis.min': 0,
                                          'axis.align': 'left',
                                          'axis.units.post': 'h',
                                          'axis.scale.decimals': 0,
                                         });
                }
            );

            bar.Draw();

            // Fill the legend panel
            var legend = $('#legend');
            for (var i = 0; i < storage.characters.length; ++i)
            {
                if (characters_to_ignore.indexOf(storage.characters[i]) !== -1)
                    continue;

                legend.append(createRowLegend(storage.characters[i]));
            }
        }


        function drawFortune()
        {
            // Prepare the data for the pie chart
            var storage = {
                data:   new Array(),
                colors: new Array(),
                labels: new Array(),
                total:  0,
            };

            iterateSessions(storage, 0, {
                onIterationStarted: function(storage) {
                        for (var i = 0; i < storage.characters.length; ++i)
                        {
                            storage.data[i]   = 0;
                            storage.labels[i] = '';
                        }
                    },

                onCharacterStarted: function(storage, character_index) {
                        storage.colors[character_index] = getColor(storage.characters[character_index]);
                    },

                onData: function(storage, character_index, timestamp_index, values, previous_values) {
                        if (values != null)
                        {
                            if (values.money !== undefined)
                                storage.data[character_index] = values.money / 10000;
                            else
                                storage.data[character_index] = 0;
                        }
                        else if (previous_values != null)
                        {
                            if (previous_values.money !== undefined)
                                storage.data[character_index] = previous_values.money / 10000;
                            else
                                storage.data[character_index] = 0;
                        }
                        else
                        {
                            storage.data[character_index] = 0;
                        }

                        storage.total += storage.data[character_index];

                        storage.labels[character_index] = storage.characters[character_index] + ': ' + moneyAsHtml(storage.data[character_index]);
                    },
                }
            );

            for (var i = 0; i < storage.data.length; ++i)
            {
                var percentage = Math.floor(100.0 * storage.data[i] / storage.total);
                storage.labels[i] += ' (' + percentage + '%)'
            }

            $('#graph_fortune_title').html('Total: ' + moneyAsHtml(storage.total));

            // Create the pie chart
            var pie = new RGraph.Pie('graph_fortune', storage.data);
            pie.Set('chart.tooltips', storage.labels);
            pie.Set('chart.linewidth', 2);
            pie.Set('chart.colors', storage.colors);
            pie.Set('chart.strokestyle', '#000000');
            pie.Draw();
        }


        function drawPerCharacterMoneyActivity()
        {
            // Prepare the data for the bar chart
            var storage = {
                data:     new Array(),
                incomes:  new Array(),
                expenses: new Array(),
                ok:       false,
            };

            iterateSessions(storage, 15, {
                onIterationStarted: function(storage) {
                        for (var i = 0; i < storage.timestamps.length; ++i)
                        {
                            storage.incomes[i]  = 0;
                            storage.expenses[i] = 0;
                        }
                    },

                onCharacterStarted: function(storage, character_index) {
                        storage.ok = false;
                    },

                onData: function(storage, character_index, timestamp_index, values, previous_values) {
                        if ((values != null) && (values.money !== undefined) &&
                            (previous_values != null) && (previous_values.money !== undefined))
                        {
                            if ((!storage.ok) && ((values.money == 0) || (previous_values.money == 0)))
                                return;

                            storage.ok = true;

                            var diff = (values.money - previous_values.money) / 10000;
                            if (diff == 0)
                                return;

                            var color = getColor(storage.characters[character_index]);

                            var box;
                            if (diff > 0)
                            {
                                box = [storage.incomes[timestamp_index],
                                       storage.incomes[timestamp_index],
                                       storage.incomes[timestamp_index] + diff / 2,
                                       storage.incomes[timestamp_index] + diff,
                                       storage.incomes[timestamp_index] + diff,
                                       color, color, 1.6
                                ];

                                storage.incomes[timestamp_index] += diff;
                            }
                            else
                            {
                                box = [storage.expenses[timestamp_index] + diff,
                                       storage.expenses[timestamp_index] + diff,
                                       storage.expenses[timestamp_index] + diff / 2,
                                       storage.expenses[timestamp_index],
                                       storage.expenses[timestamp_index],
                                       color, color, 1.6
                                ];

                                storage.expenses[timestamp_index] += diff;
                            }

                            var tooltip = storage.characters[character_index] + ': ';
                            if (diff < 0)
                                tooltip += '-';
                            tooltip += moneyAsHtml(Math.abs(diff));

                            storage.data[storage.data.length] = [
                                timestamp_index * 2 + 1,
                                box,
                                getColor(storage.characters[character_index]),
                                tooltip,
                            ];
                        }
                    },
                }
            );

            // Display the period covered by the graph
            var date_start = new Date(storage.timestamps[0] * 1000);
            var date_end = new Date(storage.timestamps[storage.timestamps.length - 1] * 1000);

            $('#graph_character_money_activity_title').text(date_start.toLocaleDateString() + ' - ' + date_end.toLocaleDateString());

            // Compute the maximum value of the y-axis and the labels
            var labels = getDateLabels(storage.timestamps);
            var max_value = Math.ceil(getLimitsOfCumulatedRows(storage.incomes, 1).max);
            var min_value = Math.floor(getLimitsOfCumulatedRows(storage.expenses, 1).min);
            var factor = getScaleFactor(max_value - min_value);
            max_value = Math.ceil(max_value / factor) * factor;
            min_value = Math.floor(min_value / factor) * factor;

            // Create the graph
            var gutterLeft = 80;
            var scatter = new RGraph.Scatter('graph_character_money_activity', storage.data);
            scatter.Set('chart.labels', labels);
            scatter.Set('chart.gutter.left', gutterLeft);
            scatter.Set('chart.background.barcolor1', 'white');
            scatter.Set('chart.background.barcolor2', 'white');
            scatter.Set('chart.background.grid', true);
            scatter.Set('chart.background.grid.autofit.numhlines', (max_value - min_value) / factor);
            scatter.Set('chart.background.grid.autofit.numvlines', storage.timestamps.length);
            scatter.Set('chart.hmargin', 10);
            scatter.Set('chart.strokestyle', '#000000');
            scatter.Set('chart.ymax', max_value);
            scatter.Set('chart.ymin', min_value);
            scatter.Set('chart.xmax', storage.timestamps.length * 2);
            scatter.Set('chart.noyaxis', true);
            scatter.Set('chart.ylabels', false);
            scatter.Set('chart.tickmarks', 'circle');
            scatter.Set('chart.tooltips.event', 'onclick');

            // Draws the extra axe. It's run whenever the scatter object is drawn
            RGraph.AddCustomEventListener(scatter, 'ondraw', function ()
                {
                    RGraph.DrawAxes(scatter, {
                                          'axis.x': gutterLeft,
                                          'axis.color': 'black',
                                          'axis.text.color': 'black',
                                          'axis.max': max_value,
                                          'axis.numlabels': (max_value - min_value) / factor,
                                          'axis.numticks': ((max_value - min_value) / factor) * 2,
                                          'axis.min': min_value,
                                          'axis.align': 'left',
                                          'axis.units.post': ' po',
                                          'axis.scale.decimals': 0,
                                         });
                }
            );

            scatter.Draw();

            for (var i = 0; i < storage.timestamps.length; ++i)
            {
                var x = scatter.getXCoord(i * 2 + 0.2);
                var x2 = scatter.getXCoord((i + 1) * 2 - 0.2);
                var y0 = scatter.getYCoord(0);

                if (storage.incomes[i] > 0)
                {
                    var y = scatter.getYCoord(storage.incomes[i]);

                    var rect = new RGraph.Drawing.Rect('graph_character_money_activity', x, y, x2 - x, y0 - y);
                    rect.Set('chart.strokestyle', 'black');
                    rect.Set('chart.fillstyle', 'transparent');
                    rect.Draw();
                }

                if (storage.expenses[i] < 0)
                {
                    var y = scatter.getYCoord(storage.expenses[i]);

                    var rect = new RGraph.Drawing.Rect('graph_character_money_activity', x, y0, x2 - x, y - y0);
                    rect.Set('chart.strokestyle', 'black');
                    rect.Set('chart.fillstyle', 'transparent');
                    rect.Draw();
                }
            }

            var rect = new RGraph.Drawing.Rect('graph_character_money_activity', scatter.getXCoord(0), y0, scatter.getXCoord(storage.timestamps.length * 2) - scatter.getXCoord(0), 0);
            rect.Set('chart.strokestyle', 'black');
            rect.Set('chart.fillstyle', 'transparent');
            rect.Draw();
        }


        function drawTotalPlayTime()
        {
            function _updateGraph(original_storage, start, count)
            {
                $('#graph_day_played').remove();

                var canvas          = document.createElement('canvas');
                canvas.id           = 'graph_day_played';
                canvas.width        = '1000';
                canvas.height       = '600';
                canvas.style.cursor = 'default';

                $(canvas).insertAfter('#daily_activity');


                // Crop the original storage
                start = Math.max(0, start);
                count = Math.min(original_storage.data_time.length - start, count);

                var storage = {
                    data_time:      original_storage.data_time.slice(start, start + count),
                    data_mean_time: original_storage.data_mean_time.slice(start, start + count),
                    data_money:     original_storage.data_money.slice(start, start + count),
                    timestamps:     original_storage.timestamps.slice(start, start + count),
                    last_money:     original_storage.last_money,
                    characters:     original_storage.characters,
                };


                // Compute the maximum and minimum values of the y-axis and the labels
                var labels = getDateLabels(storage.timestamps);

                var limits_time  = getLimitsOfCumulatedRows(storage.data_time, 1);
                var limits_money = getLimitsOfCumulatedRows(storage.data_money, 1);

                var max_value_time = Math.ceil(limits_time.max);

                if (limits_money.max == limits_money.min) {
                    limits_money.max = limits_money.max + 1000;
                    limits_money.min = limits_money.min - 1000;
                    if (limits_money.min < 0) {
                        limits_money.min = 0;
                    }
                }

                var factor = getScaleFactor(limits_money.max - limits_money.min);

                var max_value_money = Math.ceil(limits_money.max / factor) * factor;
                var min_value_money = Math.floor(limits_money.min / factor) * factor;


                // Create the line charts
                var gutterLeft = 50;
                var gutterRight = 100;
                var gutterTop   = 25;

                var line3 = new RGraph.Line('graph_day_played', storage.data_mean_time);
                line3.Set('chart.gutter.right', gutterRight);
                line3.Set('chart.gutter.left', gutterLeft);
                line3.Set('chart.gutter.top', gutterTop);
                line3.Set('chart.background.barcolor1', 'white');
                line3.Set('chart.background.barcolor2', 'white');
                line3.Set('chart.background.grid.autofit.numhlines', max_value_time);
                line3.Set('chart.background.grid', true);
                line3.Set('chart.colors', ['#FF7D0A']);
                line3.Set('chart.fillstyle', ['#FFEF7F']);
                line3.Set('chart.linewidth', 1);
                line3.Set('chart.filled', true);
                line3.Set('chart.hmargin', 0);
                line3.Set('chart.ymax', max_value_time);
                line3.Set('chart.noaxes', true);
                line3.Set('chart.ylabels', false);
                line3.Draw();

                var line1 = new RGraph.Line('graph_day_played', storage.data_time);
                line1.Set('chart.labels', labels);
                line1.Set('chart.gutter.right', gutterRight);
                line1.Set('chart.gutter.left', gutterLeft);
                line1.Set('chart.gutter.top', gutterTop);
                line1.Set('chart.background.grid', false);
                line1.Set('chart.colors', ['red', '#FF7D0A', 'blue']);
                line1.Set('chart.key', ['Time played', 'Average time played', 'Money']);
                line1.Set('chart.key.position', 'gutter');
                line1.Set('chart.key.position.gutter.boxed', false);
                line1.Set('chart.key.position.x', 350);
                line1.Set('chart.linewidth', 2);
                line1.Set('chart.filled', false);
                line1.Set('chart.hmargin', 0);
                line1.Set('chart.units.post', 'h');
                line1.Set('chart.ymax', max_value_time);
                line1.Set('chart.noyaxis', true);
                line1.Set('chart.ylabels', false);
                line1.Draw();

                var line2 = new RGraph.Line('graph_day_played', storage.data_money);
                line2.Set('chart.gutter.left', 45);
                line2.Set('chart.gutter.right', gutterRight);
                line2.Set('chart.gutter.left', gutterLeft);
                line2.Set('chart.gutter.top', gutterTop);
                line2.Set('chart.background.grid', false);
                line2.Set('chart.colors', ['blue']);
                line2.Set('chart.linewidth', 2);
                line2.Set('chart.filled', false);
                line2.Set('chart.hmargin', 0);
                line2.Set('chart.units.post', 'po');
                line2.Set('chart.ymax', max_value_money);
                line2.Set('chart.ymin', min_value_money);
                line2.Set('chart.noaxes', true);
                line2.Set('chart.ylabels', false);


                // Draws the extra axes. It's run whenever the line2 object is drawn
                RGraph.AddCustomEventListener(line2, 'ondraw', function ()
                    {
                        RGraph.DrawAxes(line1, {
                                                'axis.x': gutterLeft,
                                                'axis.color': 'red',
                                                'axis.text.color': 'red',
                                                'axis.max': max_value_time,
                                                'axis.numlabels': max_value_time,
                                                'axis.numticks': max_value_time * 2,
                                                'axis.min': 0,
                                                'axis.align': 'left',
                                                'axis.units.post': 'h',
                                                'axis.scale.decimals': 0,
                                               });
                        RGraph.DrawAxes(line2, {
                                                'axis.x': line1.canvas.width - gutterRight,
                                                'axis.color': 'blue',
                                                'axis.text.color': 'blue',
                                                'axis.max': max_value_money,
                                                'axis.min': min_value_money,
                                                'axis.numlabels': max_value_time,
                                                'axis.numticks': max_value_time * 2,
                                                'axis.align': 'right',
                                                'axis.units.post': ' po',
                                               });
                    }
                );

                line2.Draw();


                // Add the 'level up' notifications
                var level_ups = new Array();
                for (var character_index = 0; character_index < storage.characters.length; ++character_index)
                {
                    var character_entry = entries[storage.characters[character_index]];

                    if (character_entry.levels_history === undefined)
                        continue;

                    for (var i = 0; i < character_entry.levels_history.length; ++i)
                    {
                        var timestamp = character_entry.levels_history[i];
                        if (timestamp == 0)
                            continue;

                        var timestamp2 = timestamp - (timestamp % (3600 * 24));

                        if (level_ups[timestamp2] === undefined)
                        {
                            var date = new Date(timestamp2 * 1000);

                            var day = date.getDate();
                            if (day < 10)
                                day = '0' + day;

                            var month = date.getMonth() + 1;
                            if (month < 10)
                                month = '0' + month;

                            var year = date.getFullYear();

                            level_ups[timestamp2] = new Array();
                            level_ups[timestamp2].date = day + '/' + month + '/' + date.getUTCFullYear();
                            level_ups[timestamp2].entries = [];
                        }

                        var date = new Date(timestamp * 1000);

                        var hours = date.getHours();
                        if (hours < 10)
                            hours = '0' + hours;

                        var minutes = date.getMinutes();
                        if (minutes < 10)
                            minutes = '0' + minutes;

                        var entry = { hour: hours + ':' + minutes,
                                      character: storage.characters[character_index],
                                      level: i + 1,
                                    };

                        level_ups[timestamp2].entries[level_ups[timestamp2].entries.length] = entry;
                    }
                }

                for (var i = 0; i < storage.timestamps.length; ++i)
                {
                    if (level_ups[storage.timestamps[i]] === undefined)
                        continue;

                    var x = (1000 - gutterRight - gutterLeft) / (labels.length - 1) * i + gutterLeft - 6;

                    var tooltip = '<table class="level_up"><tr><td colspan="3" class="level_up_title">' + level_ups[storage.timestamps[i]].date + '</td></tr>';

                    level_ups[storage.timestamps[i]].entries.sort(function(a, b) {
                            if (a.hour < b.hour)
                                return -1;
                            else if (a.hour > b.hour)
                                return 1;
                            return 0;
                        });

                    for (var j = 0; j < level_ups[storage.timestamps[i]].entries.length; ++j)
                        tooltip += '<tr><td>' + level_ups[storage.timestamps[i]].entries[j].hour + '</td><td>' + level_ups[storage.timestamps[i]].entries[j].character + '</td><td>' + level_ups[storage.timestamps[i]].entries[j].level + '</td></tr>';

                    tooltip += '</table>';

                    var image = new RGraph.Drawing.Image('graph_day_played', x, line1.getYCoord(storage.data_time[i]) - 20, 'images/up_arrow.gif');
                    image.Set('chart.tooltips', [tooltip]);
                    image.Draw();
                }
            }


            // Prepare the data for the line charts
            var storage = {
                data_time:      new Array(),
                data_mean_time: new Array(),
                data_money:     new Array(),
                timestamps:     new Array(),
                last_money:     null,
            };

            iterateSessions(storage, undefined, {
                onIterationStarted: function(storage) {
                        for (var i = 0; i < storage.timestamps.length; ++i)
                        {
                            storage.data_time[i]  = 0;
                            storage.data_mean_time[i]  = 0;
                            storage.data_money[i] = null;
                        }
                    },

                onCharacterStarted: function(storage, character_index) {
                        storage.last_money = null;
                    },

                onData: function(storage, character_index, timestamp_index, values, previous_values) {
                        if (values !== null)
                        {
                            if (previous_values !== null)
                            {
                                var duration = values.played - previous_values.played;
                                storage.data_time[timestamp_index] += duration / 3600.0;
                            }

                            if (values.money !== undefined)
                                storage.last_money = values.money / 10000;
                        }

                        if ((storage.last_money !== null) && (storage.last_money != 0))
                        {
                            if (storage.data_money[timestamp_index] !== null)
                                storage.data_money[timestamp_index] += storage.last_money;
                            else
                                storage.data_money[timestamp_index] = storage.last_money;
                        }
                    },
                }
            );

            // Compute the mean of the play time
            for (var i = 0; i < storage.data_mean_time.length; ++i)
            {
                var start = Math.max(i - 5, 0);
                var stop = Math.min(i + 5, storage.data_mean_time.length - 1);

                var sum = 0;
                for (var j = start; j <= stop; ++j)
                    sum += storage.data_time[j];

                storage.data_mean_time[i] = sum / (stop - start + 1);
            }


            if (storage.data_time.length > 365)
            {
                $('#btn_zoom_in').removeAttr('disabled');
                $('#btn_zoom_out').attr('disabled', 'disabled');
                $('#btn_previous').hide();
                $('#btn_next').hide();

                $('#btn_zoom_in').click(function() {
                    $(this).attr('disabled', 'disabled');
                    $('#btn_zoom_out').removeAttr('disabled');

                    $('#btn_previous').show();
                    $('#btn_next').show();

                    $('#btn_previous').removeAttr('disabled');
                    $('#btn_next').attr('disabled', 'disabled');

                    start_index = storage.data_time.length - 366;

                    _updateGraph(storage, start_index, 365);
                });

                $('#btn_zoom_out').click(function() {
                    $(this).attr('disabled', 'disabled');
                    $('#btn_zoom_in').removeAttr('disabled');

                    $('#btn_previous').hide();
                    $('#btn_next').hide();

                    _updateGraph(storage, 0, storage.data_time.length);
                });

                $('#btn_previous').click(function() {
                    start_index -= 182;

                    if (start_index <= 0)
                        $(this).attr('disabled', 'disabled');

                    $('#btn_next').removeAttr('disabled');

                    _updateGraph(storage, start_index, 365);
                });

                $('#btn_next').click(function() {
                    start_index += 182;

                    if (start_index >= storage.data_time.length - 366)
                        $(this).attr('disabled', 'disabled');

                    $('#btn_previous').removeAttr('disabled');

                    _updateGraph(storage, start_index, 365);
                });
            }
            else
            {
                $('#btn_previous').hide();
                $('#btn_next').hide();
                $('#btn_zoom_in').hide();
                $('#btn_zoom_out').hide();
            }

            _updateGraph(storage, 0, storage.data_time.length);
        }


        function drawILevelProgression()
        {
            function _updateGraph(original_storage, start, count)
            {
                $('#graph_ilevel_progression').remove();

                var canvas          = document.createElement('canvas');
                canvas.id           = 'graph_ilevel_progression';
                canvas.width        = '1000';
                canvas.height       = '600';
                canvas.style.cursor = 'default';

                $(canvas).insertAfter('#ilevel_progression');


                // Crop the original storage
                start = Math.max(0, start);
                count = Math.min(original_storage.timestamps.length - start, count);

                var storage = {
                    timestamps: original_storage.timestamps.slice(start, start + count),
                    characters: original_storage.characters,
                    ilevels:    [],
                };

                for (var i = 0; i < original_storage.ilevels.length; ++i)
                {
                    storage.ilevels[i] = {};

                    var equipment_set_names = Object.keys(original_storage.ilevels[i]);
                    for (var j = 0; j < equipment_set_names.length; ++j)
                    {
                        var equipment_set = equipment_set_names[j];
                        storage.ilevels[i][equipment_set] = original_storage.ilevels[i][equipment_set].slice(start, start + count);
                    }
                }


                // Compute the maximum and minimum values of the y-axis and the labels
                var labels = getDateLabels(storage.timestamps);

                var limits_time  = getLimitsOfCumulatedRows(storage.timestamps, 1);
                var max_value_time = Math.ceil(limits_time.max);


                // Create the line charts
                var gutterLeft = 50;
                var gutterRight = 100;
                var gutterTop   = 25;

                var last_line = null;

                for (var i = 0; i < storage.ilevels.length; ++i)
                {
                    var equipment_set_names = Object.keys(storage.ilevels[i]);
                    for (var j = 0; j < equipment_set_names.length; ++j)
                    {
                        var equipment_set = equipment_set_names[j];

                        if (storage.ilevels[i][equipment_set].length <= 1)
                            continue;

                        if (last_line != null)
                            last_line.Draw();

                        var line = new RGraph.Line('graph_ilevel_progression', storage.ilevels[i][equipment_set]);
                        line.Set('chart.gutter.right', gutterRight);
                        line.Set('chart.gutter.left', gutterLeft);
                        line.Set('chart.gutter.top', gutterTop);
                        line.Set('chart.colors', [ getColor(storage.characters[i], equipment_set) ]);
                        line.Set('chart.linewidth', 2);
                        line.Set('chart.hmargin', 0);
                        line.Set('chart.ymax', ilevel_progression_maximum);
                        line.Set('chart.ymin', ilevel_progression_minimum);
                        line.Set('chart.ylabels', false);

                        if (last_line == null)
                        {
                            line.Set('chart.labels', labels);
                            line.Set('chart.background.barcolor1', 'white');
                            line.Set('chart.background.barcolor2', 'white');
                            line.Set('chart.background.grid.autofit.numhlines', (ilevel_progression_maximum - ilevel_progression_minimum) / 100);
                            line.Set('chart.background.grid', true);
                            line.Set('chart.noyaxis', true);
                        }
                        else
                        {
                            line.Set('chart.noaxes', true);
                            line.Set('chart.background.grid', false);
                            line.Set('chart.filled', false);
                        }

                        last_line = line;
                    }
                }

                // Draws the extra axes. It's run whenever the last_line object is drawn
                RGraph.AddCustomEventListener(last_line, 'ondraw', function ()
                    {
                        RGraph.DrawAxes(last_line, {
                                                'axis.x': gutterLeft,
                                                'axis.max': ilevel_progression_maximum,
                                                'axis.min': ilevel_progression_minimum,
                                                'axis.numlabels': (ilevel_progression_maximum - ilevel_progression_minimum) / 100,
                                                'axis.numticks': (ilevel_progression_maximum - ilevel_progression_minimum) / 50,
                                                'axis.align': 'left',
                                                'axis.scale.decimals': 0,
                                               });
                    }
                );

                last_line.Draw();
            }


            // Prepare the data for the line charts
            var storage = {
                ilevels:                     [],
                timestamps:                  new Array(),
                first_timestamp_with_values: null,
            };

            iterateSessions(storage, undefined, {
                onIterationStarted: function(storage) {
                    for (var i = 0; i < storage.characters.length; ++i)
                        storage.ilevels[i] = null;
                    },

                onCharacterStarted: function(storage, character_index) {
                    storage.ilevels[character_index] = {};
                    },

                onData: function(storage, character_index, timestamp_index, values, previous_values) {
                        if ((values !== null) && (values.ilvl !== undefined))
                        {
                            if ((storage.first_timestamp_with_values === null) || (storage.first_timestamp_with_values > timestamp_index))
                                storage.first_timestamp_with_values = timestamp_index;

                            var equipment_set_names = Object.keys(values.ilvl);

                            for (var i = 0; i < equipment_set_names.length; ++i)
                            {
                                var equipment_set = equipment_set_names[i];

                                if (storage.ilevels[character_index][equipment_set] === undefined)
                                {
                                    storage.ilevels[character_index][equipment_set] = new Array();

                                    for (var j = 0; j < storage.timestamps.length; ++j)
                                        storage.ilevels[character_index][equipment_set][j] = null;
                                }

                                storage.ilevels[character_index][equipment_set][timestamp_index] = values.ilvl[equipment_set];
                            }
                        }
                    },
                }
            );

            if (storage.first_timestamp_with_values === null)
                return;

            storage.timestamps.splice(0, storage.first_timestamp_with_values);

            for (var i = 0; i < storage.ilevels.length; ++i)
            {
                var equipment_set_names = Object.keys(storage.ilevels[i]);
                for (var j = 0; j < equipment_set_names.length; ++j)
                {
                    var equipment_set = equipment_set_names[j];

                    if (storage.first_timestamp_with_values > 0)
                        storage.ilevels[i][equipment_set].splice(0, storage.first_timestamp_with_values);

                    var nb = storage.ilevels[i][equipment_set].length;

                    if (nb <= 1)
                        continue;

                    if (storage.ilevels[i][equipment_set][nb - 1] === null)
                    {
                        for (var k = nb - 2; k >= 0; --k)
                        {
                            if (storage.ilevels[i][equipment_set][k] !== null)
                            {
                                storage.ilevels[i][equipment_set][nb - 1] = storage.ilevels[i][equipment_set][k];
                                break;
                            }
                        }
                    }

                    // Special case: very first day of data for the character
                    else
                    {
                        var must_add_fake_value = true;

                        for (var k = nb - 2; k >= 0; --k)
                        {
                            if (storage.ilevels[i][equipment_set][k] !== null)
                            {
                                must_add_fake_value = false;
                                break;
                            }
                        }

                        if (must_add_fake_value)
                            storage.ilevels[i][equipment_set][nb - 2] = storage.ilevels[i][equipment_set][nb - 1];
                    }
                }
            }

            _updateGraph(storage, 0, storage.timestamps.length);
        }


        function drawCharactersPie(canvas_id, limit)
        {
            // Prepare the data for the pie chart
            var data = new Array();
            var labels = new Array();
            var colors = new Array();

            var current_character = 0;
            var total = 0;
            for (var i = 0; i < character_names.length; ++i)
            {
                if (characters_to_ignore.indexOf(character_names[i]) !== -1)
                    continue;

                var reference = 0;
                if ((limit !== null) && (limit < timestamps.length))
                {
                    var start_index = timestamps.length - limit - 1;

                    while (start_index >= 0)
                    {
                        var str_timestamp = Number(timestamps[start_index]).toString();

                        if (entries[character_names[i]].sessions[str_timestamp] !== undefined)
                        {
                            reference = entries[character_names[i]].sessions[str_timestamp].played;
                            break;
                        }

                        --start_index;
                    }

                    if (start_index < 0)
                    {
                        start_index = timestamps.length - limit;

                        while (start_index < timestamps.length)
                        {
                            var str_timestamp = Number(timestamps[start_index]).toString();

                            if (entries[character_names[i]].sessions[str_timestamp] !== undefined)
                            {
                                reference = entries[character_names[i]].sessions[str_timestamp].played;
                                break;
                            }

                            ++start_index;
                        }
                    }
                }

                var str_last_timestamp = Number(entries[character_names[i]].last).toString();
                var duration = entries[character_names[i]].sessions[str_last_timestamp].played - reference;

                if (duration > 0)
                {
                    data[current_character] = duration;
                    labels[current_character] = character_names[i];
                    colors[current_character] = getColor(character_names[i]);

                    total += duration;

                    ++current_character;
                }
            }

            for (var i = 0; i < data.length; ++i)
            {
                var percentage = Math.floor(100.0 * data[i] / total);
                labels[i] += ' (' + percentage + '%)'
            }

            // Create the pie chart
            var pie = new RGraph.Pie(canvas_id, data);
            pie.Set('chart.tooltips', labels);
            pie.Set('chart.linewidth', 2);
            pie.Set('chart.colors', colors);
            pie.Set('chart.strokestyle', '#000000');
            pie.Draw();
        }

    </script>
</head>
<body>

    <a href="https://github.com/Kanma/TitanPlayed">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
    </a>

    <div id="container">
        <h2>Time played on each character</h2>
        <span id="graph_character_played_title" class="period"></span>
        <canvas id="graph_character_played" width="1000" height="600" style="cursor: default;"></canvas>


        <h2>Fortune</h2>
        <span id="graph_fortune_title" class="period"></span>
        <canvas id="graph_fortune" width="400" height="400" style="cursor: default;"></canvas>


        <h2>Money activity</h2>
        <span id="graph_character_money_activity_title" class="period"></span>
        <canvas id="graph_character_money_activity" width="1000" height="600" style="cursor: default;"></canvas>


        <h2 id="daily_activity">Daily activity</h2>
        <input id="btn_previous" type="button" value="&lt;&lt;" />
        <input id="btn_zoom_out" type="button" value="Zoom out" disabled="disabled" />
        <input id="btn_zoom_in" type="button" value="Zoom in" disabled="disabled" />
        <input id="btn_next" type="button" value="&gt;&gt;" />


        <h2 id="ilevel_progression">iLevel progression</h2>


        <h2>Per-character percentage of time played</h2>
        <table>
            <tr>
                <td class="title">All time</td>
                <td class="title">Last 2 months</td>
                <td class="title">Last month</td>
            </tr>
            <tr>
                <td>
                    <canvas id="graph_characters_pie_all" width="300" height="300" style="cursor: default;"></canvas>
                </td>
                <td>
                    <canvas id="graph_characters_pie_2_months" width="300" height="300" style="cursor: default;"></canvas>
                </td>
                <td>
                    <canvas id="graph_characters_pie_1_month" width="300" height="300" style="cursor: default;"></canvas>
                </td>
            </tr>
            <tr>
                <td class="title">Last 2 weeks</td>
                <td class="title">Last week</td>
                <td class="title">Last 3 days</td>
            </tr>
            <tr>
                <td>
                    <canvas id="graph_characters_pie_2_weeks" width="300" height="300" style="cursor: default;"></canvas>
                </td>
                <td>
                    <canvas id="graph_characters_pie_1_week" width="300" height="300" style="cursor: default;"></canvas>
                </td>
                <td>
                    <canvas id="graph_characters_pie_3_days" width="300" height="300" style="cursor: default;"></canvas>
                </td>
            </tr>
        </table>
    </div>

    <div id="legend_scroller">
        <table id="legend"></table>
    </div>

    <span class="rgraph">Graphs generated with the  <a href="http://www.rgraph.net">RGraph library</a></span>

    <script type="text/javascript">
        window.onload = function ()
        {
            $("#legend_scroller").jScroll({ speed : "fast",
                                            top: 200,
                                          });

            drawPerCharacterPlayTime();
            drawFortune();
            drawPerCharacterMoneyActivity();
            drawTotalPlayTime();
            drawILevelProgression();
            drawCharactersPie('graph_characters_pie_all', null);
            drawCharactersPie('graph_characters_pie_2_months', 60);
            drawCharactersPie('graph_characters_pie_1_month', 30);
            drawCharactersPie('graph_characters_pie_2_weeks', 14);
            drawCharactersPie('graph_characters_pie_1_week', 7);
            drawCharactersPie('graph_characters_pie_3_days', 3);
        }
    </script>
</html>
